.card-match-container {
    display: flex;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
}

.grid-header-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: none;
    padding-right: 30px;
}

.restart-button {
    width: 150px;
    height: 80px;
    color: rgba(110, 87, 105, 0.884);
    font-size: 25px;
    background-color: rgb(255, 217, 249);
    border: 0;
}

.card {
    width: 150px;
    height: 200px;
    background-color: rgba(253, 182, 241, 0.884);
    color: white;
    font-size: 50px;
    font-weight: bold;
    border: 2px solid white;
}

.hide-card {
    visibility: hidden;
}

.card-front {
    background-color: rgba(253, 182, 241, 0.884);
    box-shadow: 20px 20px 20px rgba(68, 68, 68, 0.2);
}

.card-back {
    font-weight: bold;
}

.react-card-front {
    position: relative;
}