.cardsContainer {
    display: flex;
    flex-wrap: wrap;
}

.cardContainer {
    background-color: white;
    border-radius: 5px;
    height: 200px;
    width: 150px;
    padding: 7px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        -webkit-box-shadow: 0 0 5px 2px #fff;
        -moz-box-shadow: 0 0 5px 2px #fff;
        box-shadow: 0 0 5px 2px #fff;
    }
    .cardTopValue {
        align-self: flex-start;
    }
    .cardBottomValue {
        align-self: flex-end;
    }
    .cardMainValue {
        align-self: center;
        font-size: 400%;
    }
}
