$button-colour:  rgb(154, 228, 220);
$text-colour: rgb(22, 66, 109);

@mixin input {
    color: $text-colour;
    background: transparent;
    border:none;
    height: 38px;
    margin: 5px;
    font-size: 20px;
}

@mixin button {
  border-radius: 30px;
  width: 150px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin: 5px auto;
}

.app {
  display: flex;
  justify-content: space-between;
  height: 95vh;
  width: calc(100vw - 5vh);
  padding: 2.5vh;
  color: $text-colour;
  background-color: rgba(175, 175, 175, 0.616);
}

.navbar-container {
  left: 2.5vw;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.navbar-button {
  height: 75px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  color: $text-colour;
  border: 2px solid $text-colour;
  background-color: $button-colour;
  margin: 10px 0;
}

.title-input {
  @include input;
  text-align: left;
}

.app-title {
  align-self: flex-end;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.window-width {
  align-self: flex-start;
}

.board-container {
  display: flex;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 75px;
  font-weight: bold;
  line-height: 150px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.status {
  font-size: 30px;
  font-weight: 600;
  margin-right: 50px;
}

.random-people {
  width: 95vw;
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.people-list {
  font-weight: bold;
  margin-top: 30px;
  .people-list-title {
    font-size: 24px;
  }
}

.people-button {
  @include button;
  background-color: $button-colour;
  color: $text-colour;
  border: 1px solid $text-colour;
}

.people-container {
  display: flex;
}

.counter {
  display: flex;
  flex-direction: row;
}

.auto-timer {
  font-size: 20px;
  text-align: right;
  font-weight: bold;
  .auto-timer-value {
    font-size: 150%;
  }
}

.counter-button {
  @include button;
  background-color: $button-colour;
  color: $text-colour;
  border: 2px solid $text-colour;
}

.count-input {
  @include input;
  text-align: center;
}

.count-value {
  font-size: 150px;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.increment, .decrement, .resetting, .number-setting {
  display: flex;
  flex-direction: column;
}

.number-setting {
  flex-grow: 2;
  text-align: center;
  font-size: 14px;
}

.bar-chart-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $text-colour;
  font-size: 30px;
  font-weight: 500;
  text-decoration-line: underline;
}

.line-graph-container {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.animate-graph-button {
  height: 20px;
  width: 150px;
  background-color: $button-colour;
  color: $text-colour;
  border: 1px solid $text-colour;
}
